* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#game {
	align-items: center;
	padding-top: 20px;
	font-size: 40px;
	width: 320px;
	margin: auto;
}

.main {
	/*playfield for 20x10 cells*/
	width: 320px;
	height: 620px;
	margin: 20px auto 0;
	border: 10px solid silver;
	font-size: 0;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid silver;
	display: inline-block;
}

.movingCell { /*Color cells while is moving*/
	background-color: blue;
}

.fixedCell { /*Color for static cell*/
	background-color: green;
}

#next-tetro { /*display next tetro*/
	font-size: 0;
	position: absolute;
	top: 200px;
	left: 200px;
}

#game-over { /*GameOver message*/
	font-size: 100px;
	text-align: center;
	color: rgb(156, 8, 8);
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	cursor: pointer;
	color: black;
	font-size: 20px;
	display: inline-block;
	margin-left: 5px;
	border: 1px solid silver;
	background-color: green;
}
